@use '../../mixins'as *;


.movie_detail {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.movie_title {
  font-weight: 500;
}

.movie_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.two-column {
  display: grid;
  grid-template-columns: (1fr 1fr);
  gap: 10px;

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  padding-bottom: 10px;
}

.rate {
  margin-bottom: 15px;
}

.rate-value {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  .scale {

    width: 100px;
    border: 1px solid #ccc;
  }

  .scale-value {
    height: 4px;
   

  }

}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .foto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80px;
    text-wrap: wrap;
    align-items: center;

    img {
      width: 60px;
      aspect-ratio: 1;
    }

    .name {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}