 @use "../../mixins"as *;


 .search {
   border: 1px solid var(--info-color);
   border-radius: 4px;
   height: 32px;
   position: relative;

   @include laptop-desktop {
     margin-left: auto;
   }

   @include mobile {
     width: 100%;
   }

   svg {
    margin: 5px;
    fill: var(--info-color);
   }


   .search_control {
     display: flex;
     flex-direction: row;
     height: 30px;
   }

   .search_input {
     margin: 2px;
     border: 0px;
     width: 300px;

     @include mobile {
       flex-grow: 1;
     }
   }

   .search_button {
     background-color: var(--info-color);
     color: white;
     border: none;
     border-radius: 2px;
     padding: 4px 8px;
     cursor: pointer;
   }

   .dropdown-content {
     width: 100%;
     display: none;
     position: absolute;
     top: 35px;
     background-color: #f9f9f9;
     min-width: 130px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     max-height: 208px;
     overflow: auto;
   }

   .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;

   }

   .dropdown-item {
     text-align: left;
   }

   .dropdown-content a:hover {
     background-color: #d4d4d4;
   }

   .no-result {
     padding: 10px;
   }
 }