
@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 481px) and (max-width: 1440px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1441px) {
        @content;
    }
}

@mixin laptop-desktop {
    @media screen and (min-width: 481px) {
        @content;
    }
}
