@use "../../mixins"as *;


.movie_list {

  @include laptop-desktop {
    padding: 15px 10px;
    width: 100%;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
    align-items: center;
    justify-items: center;
  }

  @include mobile {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}