@use 'app/mixins' as *;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: Inter, Arial, sans-serif;
}


html * {
  box-sizing: border-box;
}/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #1976d2;
  --secondary-color: #b3b3b3;
  --accent-color: #82b1ff;
  --error-color: #ff5252;
  --info-color: #2196f3;
  --success-color: #4caf50;
  --warning-color: #ffc107;
  --secondary-background-color: #ebebeb;

   --bad-color: #ff5252; 
   --average-color: #ffc107;
   --good-color: #4caf50;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

@include mobile {
  body {
    font-size: 12px;
  }
}

// Убираем отступы по умолчанию у текстовых элементов
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.aos-animate { /* The class added by the observer */
  opacity: 1;
  transform: translateY(0);
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #757575;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A3A3A3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #A3A3A3;
}